
.badge-dot-to-separate{
    margin: 0 0.2rem;
}
.video-info{
    display: flex;
}

.avatar{
    margin: 0.625rem 0 1rem;
}

.padding-right-4px{
    padding-right: 0.25rem;
}

.category-list-item-bg{
    height: 6.8rem;
    background-color: var(--primary-color);
}
.category-link-active{
    background-color: var(--primary-color);
    color: white;
}

.category-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    color: white;
    width: 100%;
    max-width: 56.5rem;
    margin: auto;
    box-sizing: border-box;
}
.btn-rounded-corners{
    border-radius: 1.5rem;
}
.CTA-Container{
    width: 100%;
    max-width: 56.5rem;
    margin: auto;
    box-sizing: border-box;
}
.content-area-beside-sidebar{
    width: calc(100% - 6.25rem);
}
@media screen and (max-width: 768px) {
    
    .grid-4-column-layout{
        grid-template-columns: 1fr;
    }
    .card-vertical{
        max-width: 100%;
    }
    .card-img{
        max-height: 200px;
    }
    
    .avatar{
        margin: 0.625rem 0 1rem 1rem;
    }
    .text-container{
        width: 100%;
        padding: 1rem;
    }

    .category-list{
        grid-template-columns: 1fr 1fr;
    }

    .content-area-beside-sidebar{
        width: 100%;
    }
}
