.badge-dot-to-separate {
	margin: 0 0.2rem;
}
.grid-30-70-layout {
	max-width: 65rem;
	padding: 2rem 1rem;
}
.plyalist-details-container {
	padding-right: 1rem;
	padding-left: 1rem;
	padding-top: 1rem;
}
.plyalist-details-container .text-container {
	padding: 0;
}

.video-info {
	display: flex;
}

.avatar {
	margin: 0.625rem 0 1rem;
}

.padding-right-4px {
	padding-right: 0.25rem;
}

.category-list-item-bg {
	height: 6.8rem;
	background-color: var(--primary-color);
}
.category-link-active {
	background-color: var(--primary-color);
	color: white;
}

.category-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
	color: white;
	width: 100%;
	max-width: 65rem;
	margin: auto;
	box-sizing: border-box;
}
.btn-rounded-corners {
	border-radius: 1.5rem;
}
.CTA-Container {
	width: 100%;
	max-width: 65rem;
	margin: auto;
	box-sizing: border-box;
}
.content-area-beside-sidebar {
	width: calc(100% - 6.25rem);
	padding: 0 1rem 1rem;
}

.video-info {
	position: relative;
}
.video-info .text-container {
	padding: 0.75rem 1rem 1rem 0.5rem;
}

.more-options-button {
	position: absolute;
	top: 1rem;
	right: 0;
	width: 1rem;
	height: 1.5rem;
	text-align: right;
}

.card-vertical {
	max-width: 100%;
}
.grid-4-column-layout {
	max-width: 65rem;
}

.page-title {
	margin-top: 3rem;
	padding: 0 1rem;
}

.video-title {
	line-height: 1.25rem;
}

@media screen and (max-width: 1024px) {
	.content-area-beside-sidebar {
		width: 100%;
		padding: 0;
	}
	.explore-container {
		padding: 0.5rem;
	}
	.grid-30-70-layout {
		padding: 0;
	}
}

@media screen and (max-width: 768px) {
	.grid-4-column-layout {
		grid-template-columns: 1fr;
	}
	.card-vertical {
		max-width: 100%;
	}
	.card-img {
		max-height: 12.5rem;
	}

	.avatar {
		margin: 0.625rem 0 1rem 1rem;
	}
	.text-container {
		width: 100%;
		padding: 1rem;
	}

	.category-list {
		grid-template-columns: repeat(2, 1fr);
	}
}
