.logo-title{
  font-size: 2rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;

}
.logo-and-symbol-style{
  font-size: 1rem; 
  margin-right: 3px;
}
.logo-tagline{
  font-size:0.625rem; 
  font-weight:500; 
  letter-spacing: 1px;
}

.app-container{
  min-height: 90vh;
}
.text-light-weight{
  font-weight: 400;
}
.padding-around-1rem{
  padding: 1rem;
}
.card-horizontal .image-container {
  height: auto;
}
.grid-4-column-layout{
  box-sizing: border-box;
}